dataclasses>=0.7;python_version<'3.7'
numpy>=1.18
pillow>=8,<9
opencv-python>=4
pandas>=1
pascal-voc-tools==0.1.29
matplotlib>=3
seaborn>=0.10
requests>=2.24
keras>=2.4
tensorflow>=2.3,<2.8; sys_platform != "darwin"
tensorflow-macos>=2.5; sys_platform == "darwin"
tensorflow-metal>=0.1; sys_platform == "darwin"
pyyaml>=5
dacite @ git+https://github.com/kobzol/dacite@82fe831c45dca05297a04fbafe0dd72ad15f8050
keras-unet==0.1.2
typing_extensions==4.1.1;python_version<'3.8'
scikit-learn>=1.0.2
protobuf<4
